/* * default.css
  * scripsit stylesheet
 * 
*
   ================================================== */
/* ---------- highlight default JSON text -----------
   ================================================== */
#highlight { background-color: #fff3a5;}
/* ================================================== 
   ---- expand/contract javascript <dt> <dd> tags ---
   ================================================== */
dt {
    cursor: pointer;
    margin: 0 2em 0;
}
dt:hover { color: #355f7c }
dd {
    font-family: calibri, sans-serif;
    text-align: justify;
    margin: 0 10%;
}
button {
    height: 32px;
    width: 48px;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    background-image: url(bg.png);
}
button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
button.expand {
    position: inherit;
    right: 10px;
}
button.closeall {
    position: inherit;
    right: 60px;
}
/* ================================================== 
   ------------------ page layout -------------------
   ================================================== */
body {
    font-family: sans-serif;
    font-size: 100%;
    //    background-color: #11303d;
    background-image: url(bg.png);
    color: #000;
    margin: 0;
    padding: 0;
}
div.document { background-color: #1c4e63 }
div.documentwrapper {
    float: left;
    width: 100%;
}
div.bodywrapper { margin: 0 0 0 230px }
div.body {
    background-color: #ffffff;
    color: #000000;
    padding: 30px 20px 30px;
}
div.footer {
    color: #ffffff;
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: left;
    font-size: normal;
    position: fixed;
    left: 6px;
    bottom: 0px;
}
div.related {
    background-color: #133f52;
    line-height: 30px;
    color: #ffffff;
}
div.related a { color: #ffffff }
div.scripsitsidebar { }
div.scripsitsidebar h3 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
div.scripsitsidebar h4 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}
div.scripsitsidebar p { color: #ffffff }
div.scripsitsidebar p.topless { margin: 5px 10px 10px 10px }
div.scripsitsidebar ul {
    margin: 10px;
    padding: 0;
    color: #ffffff;
}
div.scripsitsidebar a { color: #98dbcc }
/* ================================================== 
   ------------------- hyperlinks -------------------
   ================================================== */
a {
    color: #355f7c;
    text-decoration: none;
}
a:visited {
    color: #355f7c;
    text-decoration: none;
}
a:hover { text-decoration: underline }
/* ================================================== 
   ------------------ body style --------------------
   ================================================== */
div.body h1,
div.body h2 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: #20435c;
    margin: 20px -20px 10px -20px;
    padding: 3px 0 3px 10px;
}
div.body h1 {
    margin-top: 0;
    font-size: 200%;
}
div.body h2 { font-size: 160% }
div.body h6 { display:none; }
a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}
a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}
div.body p {
    text-align: normal;
    line-height: 130%;
}
pre {
    padding: 5px;
    background-color: #eeffcc;
    color: #333333;
    line-height: 120%;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}
tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}
/* ================================================== 
   ------------------ page layout -------------------
   ================================================== */
div.related {
    position: fixed;
    width: 100%;
    font-size: 90%;
    display: none;
}
div.related h3 { display: none }
div.related ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}
div.related li { display: inline }
div.related li.right {
    float: right;
    margin-right: 5px;
}
/* ================================================== 
   -------------- scripsit sidebar ------------------
   ================================================== */
div.scripsitsidebarwrapper {
    padding: 3px 5px 0 10px;
    position: fixed;
    max-width: 230px;
}
div.scripsitsidebar {
    float: left;
    width: 230px;
    margin-left: -100%;
    font-size: 90%;
}
div.scripsitsidebar ul { list-style: none }
div.scripsitsidebar ul ul {
    margin-left: 20px;
    list-style: square;
}
div.scripsitsidebar ul ul {
    margin-top: 0;
    margin-bottom: 0;
}
img { border: 0 }

a.headerlink { visibility: hidden }
h1:hover > a.headerlink,
h2:hover > a.headerlink { visibility: visible }
/* ================================================== 
   -------------------- tables ----------------------
   ================================================== */
caption { font-weight: bold }
table,
th,
td {
    border: 1px solid #dce;
    border-collapse: collapse;
    padding: 6px;
}
th {
    text-align: left;
    padding-right: 5px;
    background-color: #369;
    color: #fff;
}
td { font-family: calibri }
dl { margin-bottom: 15px }
dt:target { background-color: #fbe54e }
pre {
    overflow: auto;
    overflow-y: hidden;
}
code { font-size: 1.1em }
/* ================================================== 
   ------------------ print style -------------------
   ================================================== */
@media print { 
    body,
	div.document,
    div.documentwrapper,
    div.bodywrapper {
        margin: 0 !important;
        width: 100%;
        font-family: Georgia, serif;
		background-image: none;
    }
    dl,
    div.scripsitsidebar,
    div.related,
    div.footer { display: none }
    div.body h1,
    div.body h2 {
        font-family: 'Trebuchet MS', sans-serif;
        // background-color: #f2f2f2;
        font-weight: normal;
        color: #000;
        // border-bottom: 1px solid #ccc;
        margin: 20px -20px 10px -20px;
        padding: 3px 0 3px 10px;
    }
    div.body h1 {
        margin-top: 0;
        font-size: 175%;
    }
    div.body h2 { font-size: 125%; }
    div.body h6 { display:inline;font-family:sans-serif;font-size:100%;position:fixed;bottom:0px;right:0px; }	
}